<% @musicians.each do |musician| %>
<table>
<tr class="musician_<%=musician.id %>"><%= musician.name %>
<form action="<%=musician_path(musician)%>" method="post">
	<input type="hidden" value="delete" name="_method">
	<button class="delete btn-link">DELETE</button>
</form>
</tr>
</table>
<% end %>
